<%- include('./includes/head.ejs') %>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cum fugiat ipsa
	quibusdam asperiores. Alias tempore, repellat natus atque, voluptas quidem
	debitis ipsam perspiciatis ipsa blanditiis minima aspernatur! Molestiae,
	officia.
</p>
<%- include('./includes/foot.ejs') %>
